<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="http://finlaymitchell.ml/Error%20pages/404-page-not-found.html" responseMode="Redirect" />
            <error statusCode="403" prefixLanguageFilePath="" path="http://finlaymitchell.ml/Error%20pages/403-forbidden.html" responseMode="Redirect" />
            <error statusCode="401" prefixLanguageFilePath="" path="http://finlaymitchell.ml/Error%20pages/401-unauthorised.html" responseMode="Redirect" />
            <error statusCode="500" prefixLanguageFilePath="" path="http://finlaymitchell.ml/error%20pages/500-internal-error.html" responseMode="Redirect" />
            <error statusCode="502" prefixLanguageFilePath="" path="http://finlaymitchell.ml/error%20pages/502-bad-gateway.html" responseMode="Redirect" />
        </httpErrors>
        <directoryBrowse enabled="false" />

<rewrite>
    <rules>
        <rule name="Hide .html ext">
            <match ignoreCase="true" url="^(.*)"/>
            <conditions>
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
                <add input="{REQUEST_FILENAME}.html" matchType="IsFile"/>
            </conditions>
            <action type="Rewrite" url="{R:0}.html"/>
        </rule>
        <rule name="Redirecting .html ext" stopProcessing="true">
            <match url="^(.*).html"/>
            <conditions logicalGrouping="MatchAny">
                <add input="{URL}" pattern="(.*).html"/>
            </conditions>
            <action type="Redirect" url="{R:1}"/>
        </rule>
    </rules>
</rewrite>
    </system.webServer>
</configuration>
