.light-theme
{
    background-color: white !important; 
}

.light-theme .card 
{
    background-color: white !important; 
}

.light-theme footer hr 
{
    border: 2px solid lightgray;
}

.light-theme .underline-section hr 
{
    background-color: lightgrey;
}

.light-theme footer button 
{
    background-color: white;
}

.light-theme .card-text *
{
    color: black !important;
}

.light-theme .container .card .card-title
{
  color: black;
}

.light-theme .statssection * 
{
    color: black;
}

.light-theme .card .card-body .card-title 
{
    color: darkblue;
}